@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 24px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    max-width: 100%;
    height: auto;
}
*,*::after,*::before{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    box-sizing: border-box;
    text-decoration: none;
    box-sizing: border-box;
}
.wrap{
    max-width: 1296px;
    margin: 0 auto;
}
/* header */
.header-bg{
    height: 96px;
    border-bottom: 1px solid #F1F1F1;
    display: flex;
    align-items: center;
    padding: 32px 16.5%;
    gap: 20%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: #FFFFFF;
}
.logo{
    max-width: 100%;
    height: 40px;
}
.burger{
    display: none;
}
.close{
    display: none;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.menu li{
    padding: 4px 8px;
}
.menu li a{
    color: #000000;
}
.menu li a:hover{
    border-image-source: radial-gradient(60% 60%, transparent 0px, transparent 100%, #919191 100%);
    border-image-slice: 1;
    border-width: 1px;
    border-style: solid;
    border-image-outset: 5px;
    font-weight: 600;
}
.menu-bg{
    position: fixed;
    background: rgb(0,0,0,70%);
    width: 100%;
    height: 100%;
}
/* title */
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.4px;
    color: #3B3B3B;
}
.m-title{
    display: none;
}
/* main */
.blog-bg{
    margin-top: 96px;
    padding: 120px 0;
}
.blog-share{
    text-align: center;
    color: #919191;
    margin: 24px 0 80px 0;
}
.blog-container{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.blog-list{
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 74.5%;
}
.blog-box{
    display: flex;
    gap: 16px;
}
.blog-box img{
    display: block;
    width: 31.7%;
    border: 1px solid #F1F1F1;
    border-radius: 8px;
}
.tags-box{
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}
.tags-box p{
    line-height: 32px;
}
.tags{
    background-color: #F1F1F1;
    padding: 4px 12px;
    border-radius: 16px;
}
.blog-content{
    padding: 0 0 24px 0;
}
.blog-content a{
    color: #3B3B3B;
}
.blog-content h2{
    margin-bottom: 30px;
    font-size: 20px;
    color: #3B3B3B;
}
.blog-content p{
    color: #3B3B3B;
}
.article-list{
    padding: 80px;
    background-color: #FAFAFA;
}
.article-list li{
    margin-bottom: 32px;
}
.article-list a{
    font-size: 20px;
    line-height: 1.5;
    color: #1E1E1E;
    &:hover{
        text-decoration: underline;
    }
}

/* footer */
.footer-bg{
    border-top: 1px solid #F1F1F1;
    background: #FAFAFA;
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true");
    background-repeat: no-repeat;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
.footer-about img{
    display: block;
    max-width: 120px;
    height: 54px;
}
.footer-about p{
    font-size: 20px;
    line-height: 30px;
    color: #3B3B3B;
    margin: 24px 0;
}
.footer-about a{
    color: #919191 ;
    font-size: 20px;
    word-break: break-all;
}
.social .social-form{
    background: #000000;
    padding: 8px 24px;
    border: 1px #000000 solid;
    border-radius: 8px;
}
.social .social-form a{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}
.social li{
    width: 306px;
    display: flex;
    align-items: center;
    gap: 8px;
    background: #FFFFFF;
    padding: 8px 24px;
    border: 1px #C1C1C1 solid;
    border-radius: 8px;
    margin-bottom: 24px;
}
.social li a{
    color: #3B3B3B;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    word-break: break-all;
}

@media(max-width:996px){
    /* header */
    .header-bg{
        height: 56px;
        padding: 8px 12px;
        justify-content: space-between;
    }
    .logo{
        max-width: 74px;
    }
    .burger{
        display: block;
    }
    .burger:hover{
        cursor: pointer;
    }
    .menu{
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 56px;
        gap: 24px;
        width: 100%;
        background:#FFFFFF;
        padding: 40px 0;
        font-size: 20px;
        line-height: 30px;
    }
    .menu li{
        text-align: center;
    }
    .close{
        display: none;
    }

    /* title */
    .title{
        display: none;
    }
    .m-title{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        font-size: 24px;
        font-weight: 700;
        line-height: 28.8px;
        color: #3B3B3B;
    }
    /* main */
    .blog-bg{
        margin-top: 56px;
        padding: 40px 0 80px 0;
    }
    .blog-share{
        margin: 16px 0 40px 0;
    }
    .blog-container{
        flex-direction: column-reverse;
        gap: 40px;
    }
    .blog-list{
        margin: 0 auto;
        gap: 40px;
    }
    .blog-box{
        flex-direction: column;
        gap: 20px;
    }
    .blog-box img{
        width: 100%;
    }
    .tags-box{
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .blog-content h2{
        margin-bottom: 16px;
    }
    .blog-content p{
        overflow: hidden;
        height: 72px;
    }
    .article-list{
        display: flex;
        justify-content: center;
        padding: 0;
        width: 100%;
        gap: 32px;
    }
    .article-list li{
        margin: 0;
    }

    
}
@media(max-width:676px){
    /* blog */
    .article-list{
        justify-content: start;
        white-space:nowrap;
        overflow-x: auto;
        &::-webkit-scrollbar {
            display:none;
          }
    }
    /* footer */
    .footer-bg{
        background-image: url("pic/footer-bg-sm.png");
    }
    .footer-container{
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }
    .footer-about{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
    .footer-about img{
        margin: 0 auto;
    }
    .footer-about p{
        text-align: center;
    }
    .social li{
        width: 100%;
        word-break: break-all;
        height: 64px;
    }
}